In [1]:
import pandas as pd

data = pd.read_csv("NSD2883/NSD2883_no_F2.csv")
data.shape

(50851, 266)

In [2]:
data["Aar"].unique()

array([2019, 2017, 2013, 2010, 2015])

In [3]:
data_2019 = data.loc[data['Aar'] == 2019]
data_2019.shape

(7134, 266)

In [4]:
# See list of all variables
print(list(data_2019))

['Spraak', 'Q1_natur_kom_1', 'Q1_natur_kom_2', 'Q1_natur_kom_3', 'Q1_kultur_kom_1', 'Q1_kultur_kom_2', 'Q1_kultur_kom_3', 'Q1_kultur_kom_4', 'Q1_kultur_kom_5', 'Q1_kultur_kom_6', 'Q1_kultur_kom_7', 'Q1_arbeid_kom_1', 'Q1_arbeid_kom_2', 'Q1_arbeid_kom_3', 'Q1_samferdsel_kom_1', 'Q1_samferdsel_kom_2', 'Q1_samferdsel_kom_3', 'Q1_samferdsel_kom_4', 'Q1_samferdsel_kom_5', 'Q1_samferdsel_kom_6', 'Q1_renovasjon_kom_1', 'Q1_renovasjon_kom_2', 'Q2_1', 'Q3_1', 'Q3_2', 'Q3_3', 'Q3_4', 'Q3_5', 'Q5_1', 'Q6_1', 'Q7_1', 'Q9_1', 'Q9_2', 'Q9_3', 'Q9_4', 'Q9_5', 'Q9_6', 'Q9_7', 'Q9_8', 'Q9_9', 'Q9_10', 'Q9_11', 'Q10_1', 'Q11_1', 'Q13_1', 'Q14_1', 'Q15_1', 'Q15_2', 'Q15_3', 'Q15_4', 'Q16', 'Q18', 'Q19_1', 'Q19_2', 'Q20a_1', 'Q20a_2', 'Q21a_1', 'Q21a_2', 'Q21a_3', 'Q21a_4', 'Q22a_1', 'Q23a_1', 'Q24a_1', 'Q24a_2', 'Q20b_1', 'Q20b_2', 'Q20b_3', 'Q20b_4', 'Q20b_5', 'Q20b_6', 'Q20b_7', 'Q20b_8', 'Q20b_9', 'Q25a_q21b_1', 'Q25a_q21b_2', 'Q26a_1', 'Q26a_2', 'Q27a_1', 'Q27a_2', 'Q27a_3', 'Q27a_4', 'Q27a_5', 'Q27a_6', 'Q29a_1', 'Q30a_1', 'Q31a_1', 'Q33a_1', 'Q33a_2', 'Q33a_3', 'Q33a_4', 'Q33a_5', 'Q33a_6', 'Q33a_7', 'Q33a_8', 'Q33a_9', 'Q33a_10', 'Q33a_11', 'Q33a_12', 'Q33a_13', 'Q34a_1', 'Q35a_1', 'Q36a_1', 'Q37a', 'Q38a_1', 'Q38a_2', 'Q39a_1', 'Q40a', 'Q41a_1', 'Q41a_2', 'Q41a_3', 'Q41a_4', 'Q41a_5', 'Q41a_6', 'Q35b_1', 'Q35b_2', 'Q35b_3', 'Q35b_4', 'Q35b_5', 'Q42a_1', 'Q43a_1_1', 'Q43a_1_2', 'Q43a_1_3', 'Q43a_1_4', 'Q43a_2_1', 'Q43a_2_2', 'Q43a_2_3', 'Q43a_2_4', 'Q43a_3_1', 'Q43a_3_2', 'Q43a_3_3', 'Q43a_3_4', 'Q43a_4_1', 'Q43a_4_2', 'Q43a_4_3', 'Q43a_4_4', 'Q43a_5_1', 'Q43a_5_2', 'Q43a_5_3', 'Q43a_5_4', 'Q43a_6_1', 'Q43a_6_2', 'Q43a_6_3', 'Q43a_6_4', 'Q43a_7_1', 'Q43a_7_2', 'Q43a_7_3', 'Q43a_7_4', 'Q43a_8_1', 'Q43a_8_2', 'Q43a_8_3', 'Q43a_8_4', 'Q43a_9_1', 'Q43a_9_2', 'Q43a_9_3', 'Q43a_9_4', 'Q43a_10_1', 'Q43a_10_2', 'Q43a_10_3', 'Q43a_10_4', 'Q43a_11_1', 'Q43a_11_2', 'Q43a_11_3', 'Q43a_11_4', 'Q43a_12_1', 'Q43a_12_2', 'Q43a_12_3', 'Q43a_12_4', 'Q43a_13_1', 'Q43a_13_2', 'Q43a_13_3', 'Q43a_13_4', 'Q43a_14_1', 'Q43a_14_2', 'Q43a_14_3', 'Q43a_14_4', 'Q43a_15_1', 'Q43a_15_2', 'Q43a_15_3', 'Q43a_15_4', 'Q43a_16_1', 'Q43a_16_2', 'Q43a_16_3', 'Q43a_16_4', 'Q44a_1_1', 'Q44a_1_2', 'Q44a_1_3', 'Q44a_2_1', 'Q44a_2_2', 'Q44a_2_3', 'Q44a_3_1', 'Q44a_3_2', 'Q44a_3_3', 'Q44a_4_1', 'Q44a_4_2', 'Q44a_4_3', 'Q44a_5_1', 'Q44a_5_2', 'Q44a_5_3', 'Q44a_6_1', 'Q44a_6_2', 'Q44a_6_3', 'Q44a_7_1', 'Q44a_7_2', 'Q44a_7_3', 'Q44a_8_1', 'Q44a_8_2', 'Q44a_8_3', 'Q45a_1_1', 'Q45a_1_2', 'Q45a_1_3', 'Q45a_1_4', 'Q45a_2_1', 'Q45a_2_2', 'Q45a_2_3', 'Q45a_2_4', 'Q46a', 'Q47a', 'Q48a', 'Q52a', 'Q55a_1', 'Q55a_2', 'Q55a_3', 'Q55a_4', 'Q55a_9', 'Q60a', 'Q62a', 'Q64a_1', 'Q64a_2', 'Q64a_3', 'Q64a_4', 'Q64a_5', 'Q64a_6', 'Q64a_7', 'Q64a_8', 'Q64a_9', 'Q65a_1', 'Q65a_2', 'Q65a_3', 'Q65a_4', 'Q65a_5', 'Q65a_6', 'Q65ana', 'Q66a_1', 'Q68a', 'Q69a', 'Q70a', 'Metode', 'Id', 'Utvalgsvekt', 'Popvekt', 'Aar', 'Snittnorge', 'Snittet', 'Alderkat', 'Q56a', 'Q61a', 'Kommunestr', 'Fylke', 'Q49a', 'Sentralitet', 'Q57a', 'Q58a', 'Q63a', 'Q67a', 'Q53a', 'Q54a']

In [5]:
# boolean representation of 3 questions from the survey, 
# that is irrelevant for the problem statement
irrelevant_bool_vals = ['Q43a_1_1', 'Q43a_1_2', 'Q43a_1_3', 'Q43a_1_4', 'Q43a_2_1', 'Q43a_2_2',
'Q43a_2_3', 'Q43a_2_4', 'Q43a_3_1', 'Q43a_3_2', 'Q43a_3_3', 'Q43a_3_4', 'Q43a_4_1', 'Q43a_4_2',
'Q43a_4_3', 'Q43a_4_4', 'Q43a_5_1', 'Q43a_5_2', 'Q43a_5_3', 'Q43a_5_4', 'Q43a_6_1', 'Q43a_6_2',
'Q43a_6_3', 'Q43a_6_4', 'Q43a_7_1', 'Q43a_7_2', 'Q43a_7_3', 'Q43a_7_4', 'Q43a_8_1', 'Q43a_8_2',
'Q43a_8_3', 'Q43a_8_4', 'Q43a_9_1', 'Q43a_9_2', 'Q43a_9_3', 'Q43a_9_4', 'Q43a_10_1', 
'Q43a_10_2', 'Q43a_10_3', 'Q43a_10_4', 'Q43a_11_1', 'Q43a_11_2', 'Q43a_11_3', 'Q43a_11_4', 
'Q43a_12_1', 'Q43a_12_2', 'Q43a_12_3', 'Q43a_12_4', 'Q43a_13_1', 'Q43a_13_2', 'Q43a_13_3', 
'Q43a_13_4', 'Q43a_14_1', 'Q43a_14_2', 'Q43a_14_3', 'Q43a_14_4', 'Q43a_15_1', 'Q43a_15_2', 
'Q43a_15_3', 'Q43a_15_4', 'Q43a_16_1', 'Q43a_16_2', 'Q43a_16_3', 'Q43a_16_4', 'Q44a_1_1', 
'Q44a_1_2', 'Q44a_1_3', 'Q44a_2_1', 'Q44a_2_2', 'Q44a_2_3', 'Q44a_3_1', 'Q44a_3_2', 'Q44a_3_3', 
'Q44a_4_1', 'Q44a_4_2', 'Q44a_4_3', 'Q44a_5_1', 'Q44a_5_2', 'Q44a_5_3', 'Q44a_6_1', 'Q44a_6_2',
'Q44a_6_3', 'Q44a_7_1', 'Q44a_7_2', 'Q44a_7_3', 'Q44a_8_1', 'Q44a_8_2', 'Q44a_8_3', 'Q45a_1_1',
'Q45a_1_2', 'Q45a_1_3', 'Q45a_1_4', 'Q45a_2_1', 'Q45a_2_2', 'Q45a_2_3', 'Q45a_2_4']
irrelevant_vals = ['Q47a','Q69a','Q70a','Metode', 'Snittnorge', 'Popvekt', 'Utvalgsvekt', 'Snittet']

In [6]:
print("Number of variables before: " + str(data_2019.shape[1]))
reduced_data_2019 = data_2019.drop(irrelevant_bool_vals, axis = 1)
reduced_data_2019 = reduced_data_2019.drop(irrelevant_vals, axis = 1)
reduced_data_2019 = reduced_data_2019.drop('Aar', axis = 1)
print("Number of variables after: " + str(reduced_data_2019.shape[1]))

Number of variables before: 266
Number of variables after: 161

In [7]:
print(list(reduced_data_2019))

['Spraak', 'Q1_natur_kom_1', 'Q1_natur_kom_2', 'Q1_natur_kom_3', 'Q1_kultur_kom_1', 'Q1_kultur_kom_2', 'Q1_kultur_kom_3', 'Q1_kultur_kom_4', 'Q1_kultur_kom_5', 'Q1_kultur_kom_6', 'Q1_kultur_kom_7', 'Q1_arbeid_kom_1', 'Q1_arbeid_kom_2', 'Q1_arbeid_kom_3', 'Q1_samferdsel_kom_1', 'Q1_samferdsel_kom_2', 'Q1_samferdsel_kom_3', 'Q1_samferdsel_kom_4', 'Q1_samferdsel_kom_5', 'Q1_samferdsel_kom_6', 'Q1_renovasjon_kom_1', 'Q1_renovasjon_kom_2', 'Q2_1', 'Q3_1', 'Q3_2', 'Q3_3', 'Q3_4', 'Q3_5', 'Q5_1', 'Q6_1', 'Q7_1', 'Q9_1', 'Q9_2', 'Q9_3', 'Q9_4', 'Q9_5', 'Q9_6', 'Q9_7', 'Q9_8', 'Q9_9', 'Q9_10', 'Q9_11', 'Q10_1', 'Q11_1', 'Q13_1', 'Q14_1', 'Q15_1', 'Q15_2', 'Q15_3', 'Q15_4', 'Q16', 'Q18', 'Q19_1', 'Q19_2', 'Q20a_1', 'Q20a_2', 'Q21a_1', 'Q21a_2', 'Q21a_3', 'Q21a_4', 'Q22a_1', 'Q23a_1', 'Q24a_1', 'Q24a_2', 'Q20b_1', 'Q20b_2', 'Q20b_3', 'Q20b_4', 'Q20b_5', 'Q20b_6', 'Q20b_7', 'Q20b_8', 'Q20b_9', 'Q25a_q21b_1', 'Q25a_q21b_2', 'Q26a_1', 'Q26a_2', 'Q27a_1', 'Q27a_2', 'Q27a_3', 'Q27a_4', 'Q27a_5', 'Q27a_6', 'Q29a_1', 'Q30a_1', 'Q31a_1', 'Q33a_1', 'Q33a_2', 'Q33a_3', 'Q33a_4', 'Q33a_5', 'Q33a_6', 'Q33a_7', 'Q33a_8', 'Q33a_9', 'Q33a_10', 'Q33a_11', 'Q33a_12', 'Q33a_13', 'Q34a_1', 'Q35a_1', 'Q36a_1', 'Q37a', 'Q38a_1', 'Q38a_2', 'Q39a_1', 'Q40a', 'Q41a_1', 'Q41a_2', 'Q41a_3', 'Q41a_4', 'Q41a_5', 'Q41a_6', 'Q35b_1', 'Q35b_2', 'Q35b_3', 'Q35b_4', 'Q35b_5', 'Q42a_1', 'Q46a', 'Q48a', 'Q52a', 'Q55a_1', 'Q55a_2', 'Q55a_3', 'Q55a_4', 'Q55a_9', 'Q60a', 'Q62a', 'Q64a_1', 'Q64a_2', 'Q64a_3', 'Q64a_4', 'Q64a_5', 'Q64a_6', 'Q64a_7', 'Q64a_8', 'Q64a_9', 'Q65a_1', 'Q65a_2', 'Q65a_3', 'Q65a_4', 'Q65a_5', 'Q65a_6', 'Q65ana', 'Q66a_1', 'Q68a', 'Id', 'Alderkat', 'Q56a', 'Q61a', 'Kommunestr', 'Fylke', 'Q49a', 'Sentralitet', 'Q57a', 'Q58a', 'Q63a', 'Q67a', 'Q53a', 'Q54a']

In [8]:
missing_vals_0 = ['Q64a_1', 'Q64a_2', 'Q64a_3', 'Q64a_4', 'Q64a_5', 'Q64a_6', 'Q64a_7', 
                  'Q64a_8', 'Q64a_9', 'Q65a_1', 'Q65a_2', 'Q65a_3', 'Q65a_4', 'Q65a_5',
                  'Q65a_6', 'Q65ana', 'Q55a_1', 'Q55a_2', 'Q55a_3', 'Q55a_4', 'Q55a_9',
                 'Q54a', 'Q53a']
#missing_vals_categorical = ['Q60a','Q58a'] CANNOT DO THIS

for var0 in missing_vals_0:
    reduced_data_2019[var0] = reduced_data_2019[[var0]].fillna(0)

#for var in missing_vals_categorical: 
#    reduced_data_2019[var] = reduced_data_2019[[var]].fillna(0)
    
reduced_data_2019['Q63a'] = reduced_data_2019[['Q63a']].fillna(5)

In [9]:
# TODO fix Q53a
reduced_data_2019["Q53a"].value_counts()
#makes no sense that they live 0 people in total there, when it includes the respondee. 
reduced_data_2019["Q53a"] = reduced_data_2019["Q53a"].replace(0,1)

#Should I remove the high values, or should I make them all the same value?
reduced_data_2019["Q53a"].where(reduced_data_2019["Q53a"] <= 12, 12, inplace=True)
reduced_data_2019["Q53a"].value_counts()

2.0     2694
1.0     1774
4.0     1073
3.0      974
5.0      419
6.0      108
7.0       33
11.0      22
12.0      16
8.0       11
9.0        6
10.0       4
Name: Q53a, dtype: int64

In [10]:
#Make two copies of the df so I can separate the data into "kommune" and "storting" 
#for the two parts of the people(rows) that participated in each part of the survey
kommune = reduced_data_2019[reduced_data_2019["Q16"].notna()]
kommune.head()

,Spraak,Q1_natur_kom_1,Q1_natur_kom_2,Q1_natur_kom_3,Q1_kultur_kom_1,Q1_kultur_kom_2,Q1_kultur_kom_3,Q1_kultur_kom_4,Q1_kultur_kom_5,Q1_kultur_kom_6,...,Kommunestr,Fylke,Q49a,Sentralitet,Q57a,Q58a,Q63a,Q67a,Q53a,Q54a
0,1.0,4.0,3.0,4.0,6.0,6.0,6.0,6.0,4.0,6.0,...,3.0,18,2.0,3.0,5.0,0.0,4.0,9999.0,4.0,2.0
1,1.0,7.0,7.0,7.0,6.0,6.0,7.0,6.0,7.0,7.0,...,3.0,7,5.0,4.0,3.0,0.0,3.0,1.0,4.0,1.0
2,1.0,5.0,3.0,3.0,6.0,4.0,6.0,4.0,5.0,6.0,...,3.0,18,5.0,3.0,3.0,0.0,4.0,2.0,2.0,0.0
3,1.0,7.0,6.0,6.0,6.0,6.0,4.0,5.0,8.0,6.0,...,3.0,1,5.0,4.0,4.0,0.0,4.0,1.0,2.0,0.0
4,1.0,6.0,6.0,3.0,3.0,2.0,2.0,2.0,4.0,6.0,...,3.0,6,4.0,4.0,1.0,2.0,3.0,1.0,4.0,2.0

In [11]:
kommune.shape

(3708, 161)

In [12]:
#double checking that all rows that are left had answered the kommune election question
kommune["Q16"].value_counts()

1.0     757
3.0     725
14.0    349
12.0    308
2.0     259
7.0     227
13.0    197
8.0     181
11.0    149
9.0     144
5.0     138
4.0     122
6.0      76
10.0     76
Name: Q16, dtype: int64

In [13]:
storting = reduced_data_2019[reduced_data_2019["Q40a"].notna()]
storting.head()

,Spraak,Q1_natur_kom_1,Q1_natur_kom_2,Q1_natur_kom_3,Q1_kultur_kom_1,Q1_kultur_kom_2,Q1_kultur_kom_3,Q1_kultur_kom_4,Q1_kultur_kom_5,Q1_kultur_kom_6,...,Kommunestr,Fylke,Q49a,Sentralitet,Q57a,Q58a,Q63a,Q67a,Q53a,Q54a
3701,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,20,NaN,1.0,NaN,0.0,5.0,NaN,1.0,0.0
3702,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,3,1.0,4.0,3.0,0.0,3.0,1.0,1.0,0.0
3703,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,20,5.0,2.0,4.0,0.0,2.0,1.0,1.0,0.0
3704,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,3,5.0,4.0,4.0,0.0,3.0,9999.0,1.0,0.0
3705,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,5,5.0,1.0,1.0,1.0,4.0,1.0,2.0,0.0

In [14]:
storting.shape

(3235, 161)

In [15]:
#double checking that all rows that are left had answered the storting election question
storting["Q40a"].value_counts()

1.0     696
3.0     663
14.0    289
2.0     287
12.0    243
7.0     204
8.0     189
9.0     130
13.0    110
6.0     105
5.0     105
4.0     104
11.0     69
10.0     41
Name: Q40a, dtype: int64

In [16]:
all_var = list(kommune)
kommune_var = all_var[1:54] 
#Kommune-speific variables. Will remove all these for "storting" df
print(kommune_var)

['Q1_natur_kom_1', 'Q1_natur_kom_2', 'Q1_natur_kom_3', 'Q1_kultur_kom_1', 'Q1_kultur_kom_2', 'Q1_kultur_kom_3', 'Q1_kultur_kom_4', 'Q1_kultur_kom_5', 'Q1_kultur_kom_6', 'Q1_kultur_kom_7', 'Q1_arbeid_kom_1', 'Q1_arbeid_kom_2', 'Q1_arbeid_kom_3', 'Q1_samferdsel_kom_1', 'Q1_samferdsel_kom_2', 'Q1_samferdsel_kom_3', 'Q1_samferdsel_kom_4', 'Q1_samferdsel_kom_5', 'Q1_samferdsel_kom_6', 'Q1_renovasjon_kom_1', 'Q1_renovasjon_kom_2', 'Q2_1', 'Q3_1', 'Q3_2', 'Q3_3', 'Q3_4', 'Q3_5', 'Q5_1', 'Q6_1', 'Q7_1', 'Q9_1', 'Q9_2', 'Q9_3', 'Q9_4', 'Q9_5', 'Q9_6', 'Q9_7', 'Q9_8', 'Q9_9', 'Q9_10', 'Q9_11', 'Q10_1', 'Q11_1', 'Q13_1', 'Q14_1', 'Q15_1', 'Q15_2', 'Q15_3', 'Q15_4', 'Q16', 'Q18', 'Q19_1', 'Q19_2']

In [17]:
storting_var = all_var[54:119]
#Storting-speific variables. Will remove all these for "kommune" df
print(storting_var)

['Q20a_1', 'Q20a_2', 'Q21a_1', 'Q21a_2', 'Q21a_3', 'Q21a_4', 'Q22a_1', 'Q23a_1', 'Q24a_1', 'Q24a_2', 'Q20b_1', 'Q20b_2', 'Q20b_3', 'Q20b_4', 'Q20b_5', 'Q20b_6', 'Q20b_7', 'Q20b_8', 'Q20b_9', 'Q25a_q21b_1', 'Q25a_q21b_2', 'Q26a_1', 'Q26a_2', 'Q27a_1', 'Q27a_2', 'Q27a_3', 'Q27a_4', 'Q27a_5', 'Q27a_6', 'Q29a_1', 'Q30a_1', 'Q31a_1', 'Q33a_1', 'Q33a_2', 'Q33a_3', 'Q33a_4', 'Q33a_5', 'Q33a_6', 'Q33a_7', 'Q33a_8', 'Q33a_9', 'Q33a_10', 'Q33a_11', 'Q33a_12', 'Q33a_13', 'Q34a_1', 'Q35a_1', 'Q36a_1', 'Q37a', 'Q38a_1', 'Q38a_2', 'Q39a_1', 'Q40a', 'Q41a_1', 'Q41a_2', 'Q41a_3', 'Q41a_4', 'Q41a_5', 'Q41a_6', 'Q35b_1', 'Q35b_2', 'Q35b_3', 'Q35b_4', 'Q35b_5', 'Q42a_1']

In [18]:
print(kommune.shape)
kommune = kommune.drop(storting_var, axis = 1)
print(kommune.shape)

(3708, 161)
(3708, 96)

In [19]:
print(storting.shape)
storting = storting.drop(kommune_var, axis = 1)
print(storting.shape)

(3235, 161)
(3235, 108)

In [20]:
kommune.to_csv("kommune.csv")
storting.to_csv("storting.csv")