# Support Vector Machine

https://scikit-learn.org/stable/modules/svm.html

In [1]:
import pandas as pd

data = pd.read_csv("kommune_multivariate.csv")
data.head()

,Unnamed: 0,Q1_natur_kom_1,Q1_natur_kom_2,Q1_natur_kom_3,Q1_kultur_kom_1,Q1_kultur_kom_2,Q1_kultur_kom_3,Q1_kultur_kom_4,Q1_kultur_kom_5,Q1_kultur_kom_6,...,Fylke_9,Fylke_10,Fylke_11,Fylke_12,Fylke_14,Fylke_15,Fylke_18,Fylke_19,Fylke_20,Fylke_50
0,0,4.0,3.0,4.0,6.0,6.0,6.0,6.0,4.000000,6.0,...,0,0,0,0,0,0,1,0,0,0
1,1,5.0,3.0,3.0,6.0,4.0,6.0,4.0,5.000000,6.0,...,0,0,0,0,0,0,1,0,0,0
2,2,7.0,6.0,6.0,6.0,6.0,4.0,5.0,5.999987,6.0,...,0,0,0,0,0,0,0,0,0,0
3,3,6.0,6.0,3.0,3.0,2.0,2.0,2.0,4.000000,6.0,...,0,0,0,0,0,0,0,0,0,0
4,4,4.0,7.0,6.0,5.0,5.0,5.0,1.0,6.000000,5.0,...,0,0,0,0,0,0,1,0,0,0

In [2]:
data.shape

(3359, 150)

In [3]:
data = data.drop(['Unnamed: 0'],axis=1)
data = data.drop(['Id'],axis=1)

In [4]:
print(data.shape)
data = data.dropna() 
print(data.shape)

(3359, 148)
(3220, 148)

In [5]:
data = data[data.Q16 != 11.0]
data = data[data.Q16 != 12.0]
data = data[data.Q16 != 13.0]

In [6]:
data.shape

(2599, 148)

In [7]:
import math
import numpy as np

shuffled = data.iloc[np.random.permutation(len(data))]

test = shuffled[:259] 
train = shuffled[259:]

test_y = test["Q16"]
train_y = train["Q16"]

test_X = test.drop(['Q16'],axis=1).values
train_X = train.drop(['Q16'],axis=1).values

In [8]:
from sklearn import svm

clf = svm.SVC(decision_function_shape='ovo')
clf.fit(train_X, train_y)

SVC(decision_function_shape='ovo')

In [9]:
clf.predict(test_X[:6])

array([1., 3., 1., 1., 1., 3.])

In [10]:
test_y[:6]

381     8.0
1444    3.0
1190    3.0
1862    8.0
676     1.0
1715    7.0
Name: Q16, dtype: float64

In [11]:
y_pred=clf.predict(test_X)

In [12]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(test_y, y_pred))

Accuracy: 0.305019305019305

## SVM with balancing the data

In [13]:
print(data["Q16"].value_counts())

1.0     724
3.0     702
2.0     246
7.0     217
8.0     174
9.0     139
5.0     134
4.0     117
6.0      76
10.0     70
Name: Q16, dtype: int64

In [14]:
from sklearn import svm

clf = svm.SVC(decision_function_shape='ovo',class_weight="balanced")
clf.fit(train_X, train_y)

SVC(class_weight='balanced', decision_function_shape='ovo')

In [15]:
clf.predict(test_X[:6])

array([7., 3., 2., 5., 9., 6.])

In [16]:
test_y[:6]

381     8.0
1444    3.0
1190    3.0
1862    8.0
676     1.0
1715    7.0
Name: Q16, dtype: float64

In [17]:
y_pred=clf.predict(test_X)

In [18]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(test_y, y_pred))

Accuracy: 0.18146718146718147